<header>
	<div class="container">
		<nav>
			<span>Bookers</span>
		</nav>
		<nav>
			<ul>
				<li>
					<a>Home</a>
				</li>
				<li>
					<a>Users</a>
				</li>
				<li>
					<a>Books</a>
				</li>
				<li>
					<a>logout</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<body>
	<div class="container">
		<div class="">
			<h2>Book detail</h2>
			<table class="table">
				<tbody>
					<tr>
						<td></td>
						<td><%= @book.title %></td>
						<td><%= @book.body %></td>
						<td>
							<% if @book.user == current_user %>
								<%= link_to "Edit", edit_book_path(@book.id) %>
							<% end %>
						</td>
						<td>
							<% if @book.user == current_user %>
								<%= link_to "Destroy", book_path(@book), method: :delete %>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>