/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/

* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

.container {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

h2{
	font-size: 30px;
}

table {
	width: 100%;
	margin-bottom: 20px
}
thead {
	display: table-header-group;
	vertical-align: middle;
}
tr {
	display: table-row;
}
table thead tr th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}

tbody tr {
	width: 150px;
	height: 26px;
}


